//================================
//var
//================================

$color: #444;
$blueDark: rgb(0,50,90);
$blueHeader: rgb(52,64,82);
$buttonBlue: rgb(0,159,214);
$buttonGreen: rgb(49,173,99);
$greyLite: rgb(238,238,238) !important;
$greyMedium: #aaa;
$greyHeavy: #333;
$pink: #ff69b4; 
$liteWght: 200; // cluge until Proxima


//================================
// helpers
//================================


@mixin borderos($style, $width, $color){
	border: $style $width $color;
}

@mixin no-margin($which...){
	#{$which}: 0
	
}


/* FONT FACE by Michael Warren @wst237 */

$fonts_path:'./fonts/';
$light:'proxima-nova-light';
$regular:'proxima-nova-regular';
$icons:'glyphicons-halflings-regular';

@mixin font-face( $name, $baseurl ){
    font: {
    	family: $name;
    	weight:normal;
    	style:normal;
    }
    src: url( $baseurl + $name + ".eot");
    src: url( $baseurl + $name + ".eot?#iefix") format('embedded-opentype'),
         url( $baseurl + $name + ".woff") format('woff'),
         url( $baseurl + $name + ".ttf") format('truetype'),
         url( $baseurl + $name + ".svg" + "#" + $name) format('svg');    
}

@font-face { @include font-face($light, $fonts_path) }
@font-face { @include font-face($regular, $fonts_path) }
@font-face { @include font-face($icons, $fonts_path) }